# Compiled binary modules
*.ko
*.o
*.mod.c
*.mod
*.a
*.la
*.lo

# Build artifacts and temp files
modules.order
Module.symvers
.tmp_versions/
.*.cmd
.tmp_*
built-in.a

# Personal logs and patches
fix_me.txt
*.patch
*.log

# Editor and System files
.DS_Store
.swp
*~
